
@media screen and (max-height: 880px) {
    .row_main {
        margin:0 0 20px 0 !important;
        padding: 0 0 20px !important;
    }

    .main_img {
        height: 330px;
    }

    .main_img img {
        height: 330px;
    }

    .btn_top_wrap {
        position: relative;
        margin: 30px 0 0 0;
      }

      .main_title {
        font-size: 48px;
      }  
}




@media screen and (max-width: 1366px) {

}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {

}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
    
  
}

/* стили для sm-устройств */
@media screen and (max-width: 991px) {

    .main_block_wrap {
        margin: 0 0 30px 0;
    }

    .nav-tabs .nav-link {
        height: 330px;
    }

    .nav_wrap {
        display: block !important;
    }

    .link_bref {
        display: inline-block;
        margin: 10px 0 0 0;
    }

    #navigation > li {
        margin: 0 0px 5px 0;
    }

    .tab-content {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 10px;
    }

    .nav-tabs .nav-link span {
        font-size: 14px;
        line-height: 23px;
        display: block;
        color: #FFFFFF;
        margin: 20px 25px 20px 0;
    }

    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 50px;
        background: #fff;
        left: 0;
        padding: 15px 15px 15px 15px;
        width: 100%;
        text-align: left;
      }

      .navbar_wrap {
        display: flex;
        flex-flow: row-reverse;
      }

      .navbar-light .navbar-toggler {
        border: none;
        color: #000;
        padding: 10px 8px 0 0px;
        text-align: left;
    }

    .link_bref {
        display: none;
    }

    .link_bref2 {
        display: block;
    }

    .link_bref {
   
        margin: 0px 0 0 0;
    }
}

@media screen and (max-width: 830px) {
    .nav-tabs .nav-link {
        height: 260px;
    }

    .main_title {
        font-size: 49.2609px;
        line-height: 97.5%;
        position: relative;
        font-family: 'Jost-SemiBold';
        margin-bottom: 19px;
    }
}

/* Ipad*/ 
@media screen and (max-width: 768px) {
    .dev_top {
        font-size: 13px;
    }

    .main_title {
        font-size: 45.2609px;
        line-height: 97.5%;
        position: relative;
        font-family: 'Jost-SemiBold';
        margin-bottom: 19px;
    }

    .btn_top_wrap {
        position: relative;
        margin: 40px 0 0 0;
    }

    .row_main  {
        margin: 0 0 0 0 !important;
    }

    .main_block_wrap {
        height: 217px;
    }

    .nav-tabs .nav-link span {
        font-size: 14px;
        line-height: 23px;
        display: block;
        color: #FFFFFF;
        margin: 20px 10px 20px 0;
    }

    .nav-tabs .nav-link {
        height: 230px;
    }

    .tab-content>.tab-pane img {
        height: 320px;
    }
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
    .row_main2 {
        display: none;
    }

    #myTab {
        display: none;
    }

    .tab-content {
        display: none;
    }

    .section_main2 {
        display: block !important;
    }

    .main_block_wrap {
        padding: 32px 12px 12px 13px;
    }

    .btn_top_bg {
        display: none;
    }

    .btn_top {
        margin: 0 auto;
    }

    .btn_top_wrap {
        display: none;
    }

    .btn_top_wrap2 {
        display: block;
        margin: 60px 0 0 0;
    }

    .main_title {
        font-size: 39px !important;
        line-height: 97.5%;
        position: relative;
        font-family: 'Jost-SemiBold';
        margin-bottom: 19px;
    }

    .dev_top {
        font-size: 14px;
    }

    .main_img {
        margin: 37px 0 0 0;
    }

    .container {
        padding: 0;
    }

}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
    .main_block_wrap {
        margin: 0 0 20px 0;
    }
}

/* Galaxy*/ 
@media screen and (max-width: 391px) {
    .main_block_title {
        font-size: 14px;
        line-height: 18px;
        font-family: 'Jost-Light';
        color: #333333;
    }
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 376px) {
    .dev_top {
        font-size: 13px;
    }

    .main_title {
        font-size: 37px !important;
    }

    .main_img {
        margin: 7px 0 0 0;
    }

    .fp-tableCell {
        padding: 23px 0 0 0 !important;
    }

    .btn_top_wrap2 {
        display: block;
        margin: 20px 0 0 0;
    }

    .main_img {
        height: auto;
        text-align: center;
    }

    .main_img img {
        height: 220px;
    }

    .main_img {
        margin: 10px 0 0 0;
    }

    .main_block_wrap {
        height: 166px;
    }

    .main_block_wrap {
        padding: 22px 12px 12px 13px;
    }

    .icon_top {
        display: none;
    }

    .main_block_title {
        font-size: 14px;
    }

    .main_block_wrap {
   
    }

    
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}

@media screen and (max-height: 900px) {
    .nav-tabs .nav-link {
        height: 260px;
    }

    .nav-tabs .nav-link span {
        font-size: 15px;
        line-height: 18px;
        display: block;
        color: #FFFFFF;
        margin: 10px 25px 20px 0;
    }

    .section_keys .fp-tableCell {
        padding: 80px 0 0 0;
        background: #333333;
    }
}

